[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wxc-sdk = "*"
python-dotenv = "*"
pydantic = "*"
zeep = "*"
requests = "*"
urllib3 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
