attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
backoff==1.11.1; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
cached-property==1.5.2; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.12; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.0"
idna==3.3; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.0"
isodate==0.6.1; python_version >= "3.6"
lxml==4.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
platformdirs==2.5.1; python_version >= "3.7"
pydantic==1.9.0; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.1"
python-dotenv==0.20.0; python_version >= "3.5"
pytz==2022.1; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0; python_version >= "3.6"
requests-file==1.5.1; python_version >= "3.6"
requests-toolbelt==0.9.1; python_version >= "3.9" and python_version < "4.0"
requests==2.27.1; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.0"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typing-extensions==4.1.1; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.1"
urllib3==1.26.9; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.9"
wxc-sdk==0.6.0; python_version >= "3.9" and python_version < "4.0"
zeep==4.1.0; python_version >= "3.6"
